# For more information on how PatrolBot sources config, refer to "patrolbot config --help"
wiki: {{ .Wiki }}
wikis:
{{- range $key, $value := .Wikis }}
  {{ $key }}:
    site:
      url: "{{ $value.Site.URL }}"
      scriptPath: "{{ $value.Site.ScriptPath }}"
      articlePath: "{{ $value.Site.ArticlePath }}"
    client:
      username: "{{ $value.Client.Username }}"
      password: "{{ $value.Client.Password }}"
{{ end }}
