# For more information on how PatrolBot sources config, refer to "patrolbot config --help"
discord:
  api: https://discord.com/api/v10
  appID: ""
  publicKey: ""
  token: ""
log:
  level: INFO
userAgent: "PatrolBot/0.3.0 (+https://github.com/iocalebs/patrolbot)"
wiki: "{{ .WikiName }}"
wikis:
  {{ .WikiName }}:
    site:
      url: "{{ .Wiki.Site.URL }}"
      scriptPath: "{{ .Wiki.Site.ScriptPath }}"
      articlePath: "{{ .Wiki.Site.ArticlePath }}"
      rcLinkLimit: 500
      rcMaxAgeDays: 90
    auth:
      username: "{{ .Wiki.Auth.Username }}"
      password: "{{ .Wiki.Auth.Password }}"
    client:
      from: "{{ .Wiki.Client.From }}"
      timeout: "10s"
    reports:
      templateDir: "{{ .TemplateDir }}"
      discordServerID: ""
      types:
        expiring:
          template: "expiring.tmpl"
          discordChannelID: ""
          description: "Counts the number of edits expiring in the next few weeks"
          data:
            patrolExpiring:
              windows:
                - days: 7
                - days: 14
                - days: 30
