# For more information on how PatrolBot sources config, refer to "patrolbot config --help"
userAgent: "PatrolBot/1.0 (+https://github.com/iocalebs/patrolbot)"
wiki: {{ .Wiki }}
wikis:
{{- range $key, $value := .Wikis }}
  {{ $key }}:
    site:
      url: "{{ $value.Site.URL }}"
      scriptPath: "{{ $value.Site.ScriptPath }}"
      articlePath: "{{ $value.Site.ArticlePath }}"
    auth:
      username: "{{ $value.Auth.Username }}"
      password: "{{ $value.Auth.Password }}"
    client:
      from: "{{ $value.Client.From }}"
      timeout: "10s"
{{ end }}
